body {
    margin: 0;
    font-family: 'Nunito Sans', Arial sans-serif;
    font-family: 'Yeseva One', Times New Roman, cursive;
}

body * {
    box-sizing: border-box;
}

.header {
    background-color: #131313;
}

.block-size {
    max-width: 1256px;
    margin: 0 auto;
}

.header-content {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
}

.logo {
    color: #E3B873;
    text-transform: uppercase;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation__item {
    margin-right: 47px;
}

.header-navigation__item a {
    text-decoration: none;
    color: white;
}

.header-navigation__item a:hover {
    color: #E3B873;
}

.phone {
    color: #E3B873;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    color: white;
    width: 207px;
    height: 51px;
}

.button:hover {
    background: none;
    border: 1px solid #FFFFFF;
    box-shadow: none;
}

.page-1 {
    background-image: url(../images/background_image.jpg);
    background-size: cover;
    height: 707px;
    position: relative;
}

.block-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    padding-top: 194px;
}

.title {
    margin: 0;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 676px;
}

.rostov {
    color: #E3B873;
}

.paragraf {
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    width: 504px;
}

.page-2__background {
    background-color: black;
    height: 1074px;
}

.page-2__aside {
    display: flex;
    justify-content: space-between;
}

.aside-block {
    width: 442px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.aside-subtitle {
    margin: 0;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    padding-top: 176px;
}

.aside-parahraf {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.aside-flex {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
}

.aside-flex__1 {
    flex: 0 1 50%;
}
.aside-flex__2 {
    flex: 0 1 50%;
}
.aside-flex__3 {
    flex: 0 1 50%;
}
.aside-flex__4 {
    flex: 0 1 50%;
}

.aside-flex__subtitle {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.aside-flex__paragraf {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: white;
}

.page-2__img {
    margin: 0;
    width: 679px;
    height: 482px;
    padding-left: 50px;
}

.section-li {
    text-decoration: none;
    margin-right: 60.5px;

}
.section-navigation {
    padding-top: 107px;
    margin-bottom: 52px;
    margin-top: 0;
    margin-left: 9px;
}

.header-navigation__item a:hover {
    text-decoration: underline;
}

.svg-1 {
    margin-top: 81px;
}